<?xml version="1.0"?>

<launch>

  <!-- run the generated world in gazebo -->
  <include file="$(find racecar_gazebo)/launch/racecar_tunnel.launch"/>

  <!-- run hector_slam_launch / tutorial.launch file -->
  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/> <!--OK-->

  <param name="/use_sim_time" value="false"/>  <!--OK-->

  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>  <!--OK-->
  
  <include file="$(find hector_mapping)/launch/mapping_default.launch"/> <!--OK-->

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>   <!--OK-->

  <node name="ekf" pkg="navigation_phase1" type="ekf.py"/>

  <!--<node name="adapter" pkg="monitor" type="adapter.py"/>--> <!--apadter on or off?-->

  <node name="slam_odometry" pkg="race" type="odometry.py"/>

  <node name="racecar" pkg="race" type="rrt_planner.py" output="screen" launch-prefix="xterm -e"/>

  <!--<node name="racecar" pkg="race" type="pure_pursuit_controller.py"/>-->

  <node pkg="rosbag" type="record" name="robot_bag" 
  	args="-o /home/f1/catkin_ws/src/racecar_simulator/racecar_gazebo/launch/test_runs/test_results/  	/drive_parameters" />
</launch>



<node name="static_tf0" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0  /nav /odom 100"/>

  <!--<node name="static_tf1" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0  /odom /base_link 100"/>-->
  
  <!--<node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_frame /laser 10" /> -->

  <!-- Run the map server
  <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/>-->